.img {
    display: block;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 34px;
    border: 5px solid #F2F2F7;
    border-radius: 150px;
}

.img:hover {
    -webkit-transform: scale(1.02);
}

.name {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 34px;
    line-height: 0.84;

    color: #081F32;
}

.informations {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.15px;

    color: #8E8E93;
}

.wrapper {
    padding-bottom: 85px;
    padding-left: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.66;

    letter-spacing: 0.15px;

    color: #081F32;
}

.info::after {
    content: "";
    height: 1px;
    margin: 16px 0;
    background-color: rgba(33, 33, 33, 0.08);
}

.infoName {
    margin-top: 11px;

    font-weight: 400;
    font-size: 14px;
    line-height: 0.7;

    letter-spacing: 0.25px;

    color: #6E798C;
}

.type {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.66;

    letter-spacing: 0.15px;

    color: #081F32;
}

.type::after {
    content: "";
    height: 1px;
    margin-top: 16px;
    background-color: rgba(33, 33, 33, 0.08);
}

.typeName {
    margin-top: 11px;

    font-weight: 400;
    font-size: 14px;
    line-height: 0.7;

    letter-spacing: 0.25px;

    color: #6E798C;
}

.list {
    list-style: none;
}

@media screen and (min-width: 1052px) {
    .wrapper {
        margin: 0 auto;
        width: 413px;
        padding-left: 0;
    }
    .img {
        margin-top: 31px;
        margin-bottom: 16px;
        padding-left: 0;
    }
    .name {
        font-size: 48px;
        margin-bottom: 48px;
        line-height: 0.86;
    }
    .informations {
        text-align: center;
        margin-bottom: 48px;
    }
    .wrapper {
        padding-bottom: 142px;
    }
}